numpy==1.23.5
torch
matplotlib
# pandas  # Uncomment if you use pandas
# seaborn # Uncomment if you use seaborn

gym[atari,accept-rom-license]
opencv-python
tensorboard
# tqdm  # Uncomment if you want progress bars
